* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

//---- BASE ----- 
.container {
    width: 100%;
    max-width: 450px;
    min-height: 100vh;
    margin: 0 auto;
    background-color: $color-background;
}

main {
    opacity: 1;
    transition: opacity .9s ease-in-out;
}

h1, h2, h3, p, summary {
    color:white;
    font-family: 'Lato', sans-serif;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.1rem;
    font-weight: 400;
}

.font-widget {
    font-family: 'Montserrat', sans-serif;
}
