* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 100%;
  max-width: 450px;
  min-height: 100vh;
  margin: 0 auto;
  background-color: #171818;
  display: flex;
  flex-direction: column;
}

main {
  opacity: 1;
  transition: opacity 0.9s ease-in-out;
  flex-grow: 1;
}

h1, h2, h3, p, summary {
  color: white;
  font-family: "Lato", sans-serif;
}

h1 {
  font-size: 1.6rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.1rem;
  font-weight: 400;
}

.font-widget {
  font-family: "Montserrat", sans-serif;
}

.header {
  padding: 20px 0;
  text-align: center;
}
.header .location__choice {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin: 5px 0 50px;
}
.header .location__choice input {
  width: 50%;
}

footer {
  height: 50px;
  width: 100%;
  margin-top: 50px;
  border-top: 1px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader-container {
  width: 100%;
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  position: relative;
  animation: rotate 1s linear infinite;
}

.loader::before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  inset: 0px;
  border-radius: 50%;
  border: 5px solid #FFF;
  animation: prixClipFix 2s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
@keyframes prixClipFix {
  0% {
    clip-path: polygon(50% 50%, 0 0, 0 0, 0 0, 0 0, 0 0);
  }
  25% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 0, 100% 0, 100% 0);
  }
  50% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 100% 100%, 100% 100%);
  }
  75% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 100%);
  }
  100% {
    clip-path: polygon(50% 50%, 0 0, 100% 0, 100% 100%, 0 100%, 0 0);
  }
}
.section {
  padding: 10px;
  margin: 0 5px 20px;
  border-radius: 5px;
  background-color: rgba(59, 61, 63, 0.7019607843);
}
.section__title {
  margin-bottom: 20px;
}
.section__header {
  margin-bottom: 10px;
}

.temp-max-value {
  color: rgb(194, 40, 40);
}

.temp-min-value {
  color: rgb(101, 154, 187);
}

.today__widget {
  display: flex;
  align-items: center;
  gap: 5px;
  margin: 5px 5px;
  border-radius: 5px;
  padding: 10px 0;
  background-color: #54575a;
  font-family: "Montserrat", sans-serif;
}
.today__widget .item.weather {
  flex: 1;
  text-align: center;
  text-align: right;
  padding-right: 5px;
}
.today__widget .item.weather img {
  width: 40px;
}
.today__widget .item.temperature {
  flex: 1.5;
  font-size: 1.2rem;
  display: flex;
  gap: 1px;
  text-align: center;
}
.today__widget .item.wind {
  flex: 1;
  font-size: 0.9rem;
  text-align: left;
}
.today__widget .item.rain {
  flex: 1;
  text-align: left;
  font-size: 0.9rem;
}

.rain__widget {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
  margin: 5px 5px 10px;
  border-radius: 5px;
  padding: 20px 10px;
  background-color: #54575a;
  font-family: "Montserrat", sans-serif;
}
.rain__widget strong {
  font-size: 1.2rem;
  font-weight: normal;
}

.week__widget {
  display: flex;
  flex-direction: column;
  padding-bottom: 5px;
  border-radius: 5px;
  font-family: "Montserrat", sans-serif;
}
.week__widget__day {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid white;
}
.week__widget__day .item.date {
  flex: 0.5;
  text-align: left;
  font-size: 0.7rem;
}
.week__widget__day .item.weather {
  flex: 1;
  text-align: center;
}
.week__widget__day .item.temperature {
  flex: 1.5;
  text-align: left;
  display: flex;
  gap: 1px;
  font-size: 1rem;
}
.week__widget__day .item.wind {
  flex: 1;
  font-size: 0.8rem;
  text-align: center;
}
.week__widget__day .item.rain {
  flex: 1;
  text-align: center;
  font-size: 0.8rem;
}

.weather-icon {
  width: 30px;
}

/*# sourceMappingURL=style.css.map */
