//---- WIDGETS ----- 
//Style commun
.section {
    padding: calc($spacing * 2);
    margin: 0 calc($spacing) calc($spacing * 4);
    border-radius: 5px;
    background-color: $color-section;

    &__title {
        margin-bottom: calc($spacing * 4);
    }

    &__header {
        margin-bottom: calc($spacing * 2);
    }
}

.temp-max-value {
    color: $color-temp-max;
}

.temp-min-value {
    color: $color-temp-min;
}

//SECTION TODAY

//Main widget
.today__widget {
    display: flex;
    align-items: center;
    gap: calc($spacing);
    margin: calc($spacing) calc($spacing);
    border-radius: 5px;
    padding: calc($spacing * 2) 0;
    background-color: $color-widget;
    font-family: 'Montserrat', sans-serif;

    .item.weather {
        flex:1;
        text-align: center;
        text-align: right;
        padding-right: 5px;

        img {
            width: 40px;
        }
    }

    .item.temperature {
        flex:1.5;
        font-size: 1.2rem;
        display: flex;
        gap: 1px;
        text-align: center;
    }

    .item.wind {
        flex:1;
        font-size: 0.9rem;
        text-align: left;
    }

    .item.rain {
        flex:1;
        text-align: left;
        font-size: 0.9rem;
    }
}

//Widget rain
.rain__widget {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: calc($spacing);
    margin: calc($spacing) calc($spacing) calc($spacing * 2);
    border-radius: 5px;
    padding: calc($spacing * 4) calc($spacing * 2);
    background-color: $color-widget;
    font-family: 'Montserrat', sans-serif;

     strong {
        font-size: 1.2rem;
        font-weight: normal;
    }
}

//SECTION CETTE SEMAINE

//Widget semaine
.week {
    &__widget {
        display: flex;
        flex-direction: column;
        // background-color: $color-widget;
        padding-bottom:5px ;
        border-radius: 5px;
        font-family: 'Montserrat', sans-serif;

        &__day {
            display: flex;
            justify-content: space-around;
            align-items: center;
            padding: calc($spacing * 2);
            border-bottom: 1px solid white;

            .item.date {
                flex:0.5;
                text-align: left;
                font-size: 0.7rem;
            }

            .item.weather {
                flex:1;
                text-align: center;
            }
    
            .item.temperature {
                flex:1.5;
                text-align: left;
                display: flex;
                gap: 1px;
                font-size: 1rem;
            }
    
            .item.wind {
                flex:1;
                font-size: 0.8rem;
                text-align: center;
            }
    
            .item.rain {
                flex:1;
                text-align: center;
                font-size: 0.8rem;
            }
        }
    }
}