//---- HEADER ----- 
.header {
    padding: calc($spacing * 4) 0;
    text-align: center;

    .location__choice {
        display: flex;
        justify-content: center;
        gap: 5px;
        margin: 5px 0 50px;

        input {
            width: 50%;
        }
    }
}